{% extends 'inicio/base.html' %}

{% block titulo %}
Página de inicio
{% endblock titulo %}

{% block contenido %}
<h1>Esta es la página de inicio de django_ej</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae accusantium iusto obcaecati! Quo, porro adipisci mollitia totam quasi odio voluptates odit provident quisquam molestias reiciendis culpa repudiandae? Deleniti, officia doloremque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste qui accusantium placeat, saepe nesciunt iure. Accusamus, est commodi hic libero recusandae ratione nihil iusto nam esse sit animi itaque nemo</p>
{% endblock contenido %}